[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "kitty/kitty-gruvbox"]
	path = kitty/kitty-gruvbox
	url = https://github.com/ghsable/kitty-gruvbox.git
